@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#grad {
  background-color:rgb(200,221,255);
}

#bottom-tab {
  margin-top:250px;
  display:flex;
}

h1 {
  font-family: 'Inter', sans-serif;
  text-align: center;
}
  
p {
  font-family: 'Inter', sans-serif;
}

div {
  font-family: 'Inter', sans-serif;
  box-shadow: 5px 10px 15px;
  border: 1px solid rgb(50,71,105);
}

div > a {
  color:rgb(100,121,155);
  font-size: 50px;
  padding:5%;
  text-decoration: none;
}
