@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#grad {
  background-image: linear-gradient(rgb(97,221,255),rgb(200,221,255));
}

h1 {
  font-family: 'Inter', sans-serif;
  text-align: center;
}
  
p {
  font-family: 'Inter', sans-serif;
}

div {
  font-family: 'Inter', sans-serif;
}
